<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Гео-отзыв</title>
<!--   	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script> -->
<!--     <link href="https://yandex.st/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"> -->
<!--     <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script> -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	
	<link rel="stylesheet" href="src/style.css">
</head>
<body>
	
	<div class="modal modal-closed">
		<div class="modal__head">
			<div class="modal__title">Адрес</div>
			<span class="smallCross">&#10006</span>
		</div>
		<div class="modal__reviews">Отзывов пока нет...</div>
		<div class="review__title">ВАШ ОТЗЫВ</div>
		<input type="text" class="input input__name" placeholder=" Ваше имя">
		<input type="text" class="input input__place" placeholder=" Укажите место">
		<textarea class="input input__area" placeholder="Поделитель впечатлениями"></textarea>
		<div class="modal__footer">	
			<button class="add__button">Добавить</button>
		</div>
	</div>

	<div id="map"></div>
	<script src="src/index.js" type="text/javascript"></script>
</body>
</html>
