html, body{ 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}
        
html, body, #map{ 
    width: 100%;
    height: 100%;
}

#map{
    overflow: hidden;
}

.ballon_header{ 
    font-size: 16px; 
    margin-top: 0; 
    margin-bottom: 10px; 
    color: #708090; 
}

.ballon_body{ 
    font-size: 14px; 
    text-align: center;  
}

.ballon_footer{ 
    font-size: 12px; 
    text-align: right; 
    color: #7D7D7D; 
    margin-top: 10px; 
}

.modal{
    width: 280px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    background: #fff;
}

.modal__head{
    display: flex;
    justify-content: space-between;
    background: #fc5c5b;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

/* .modal__title{
    line-height: 20px;
} */

.smallCross{
    cursor: pointer;
    font-size: 15px;
}

.modal__reviews{
    height: 150px;
    overflow: auto;
    padding: 5px;
    font-size: 13px;
}

.review__title{
    color: #fc5c5b;
    margin: 2px 5px;
}

.input{
   width: 95%;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 4px;
}

.input__area{
    height: 100px;
    resize: none;
    width: 94%;
}

.modal__footer{
    text-align: right;
    margin-bottom: 5px;
}

.add__button{
    margin-right: 5px;
    background: #fc5c5b;
    color: #fff;
    border: none;
    padding: 4px 7px;
    border-radius: 5px;
}

.modal-closed{
    display: none;
}

.ballon_header{
    color: #000;
}

.ballon_body{
    text-align: left;
}

.ballon_footer{
    color: #000;
    text-align: left;
}

.date_footer{
    text-align: right;
}